body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: left; /* agar teks dan gambar tidak terlalu lebar */
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: #666;
}

input[type="text"], input[type="date"], button {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.birthday-message {
    margin-top: 20px;
    text-align: center;
}

.birthday-message h2 {
    color: #333;
}

.birthday-message p {
    color: #666;
    line-height: 1.6;
}

.birthday-message img {
    width: 100%; /* Memastikan gambar mengisi kotak dengan baik */
    max-width: 500px; /* Menetapkan lebar maksimum gambar */
    height: auto; /* Mengatur ketinggian gambar agar proporsional */
    border-radius: 8px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
